<div>
    <h1>My Products</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">requestrName</th>
                <th scope="col">requestrEmail</th>
                <th scope="col">hostStartDate</th>
                <th scope="col">hostEndDate</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of request">
                <td>{{item.requestrName}}</td>
                <td>{{item.requestrEmail}}</td>
                <td>{{item.hostStartDate}}</td>
                <td>{{item.hostEndDate}}</td>
                
            </tr>
        </tbody>
    </table>
</div>